<ion-view>
  <ion-content>


    <!-- Boutons de jeu -->
    <section class="full-bg-img" id="home">
      <div class="text-center">
        <h5 class="title-game" style="color: #fff;">Speedy Click</h5>
        <hr class="divider-short">
      </div>

      <div class="container animated zoomIn" id="container">
        <div class="verticalcenter" style="top:0%;">
          <!-- First row : Stat & rank-->
          <div class="row templatemorow">
            <div class="hex col-sm-6" style="text-align: center">
              <div>
                <div class="hexagon hexagon2 gallery-item" ui-sref="stats">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-trophy"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ui-sref="multi">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-person-stalker"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6  templatemo-hex-top2">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ng-click="popupGameMode()">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-android-locate"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6  templatemo-hex-top3">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ui-sref="help">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-help"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6 templatemo-hex-top3">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ui-sref="option">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-gear-b"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
