
<ion-view view-title="Option">
  <ion-content>
    <!-- Intro image -->
    <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
      <div class="content">
        <div class="avatar"><i class="icon ion-gear-a"></i></div>
        <h3><a class="light">Score</a></h3>
      </div>
    </div>
    <!--/. Intro image -->
    <div class="card">
      <form class="list list-inset" ng-submit="SaveOption(username,email)">
        <label class="item item-input">
          <span class="input-label">Username :</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="email">
        </label>
        <p class="padding-top">
          <button class="button" style="background: #cc0000; color: white;" ui-sref="home">
            Back
          </button>
          <button class="button" style="background: #cc0000; color: white; float: right" type="submit">
            Save
          </button>
        </p>
      </form>
    </div>
  </ion-content>
</ion-view>
