
<ion-view view-title="Help">
  <ion-content>
    <!-- Intro image -->
    <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
      <div class="content">
        <div class="avatar"><i class="icon ion-trophy"></i></div>
        <h3><a class="light">Score</a></h3>
      </div>
    </div>
    <!--/. Intro image -->
   <div class="card">
     <div class="list">

       <div class="item" style="padding: 8px;" ng-repeat="n in [1,2,4,5,7,8,91,55,45,86,16,36]">
         Zephyr
        <span class="score">
          1455
        </span>
       </div>

       <p class="text-center padding-top">
         <button class="button" style="background: #cc0000; color: white;" ui-sref="home">
           Back
         </button>
       </p>

     </div>
   </div>
  </ion-content>
</ion-view>
