<!-- Intro image -->
<section class="half-bg-img" id="menu">
    <button class="btn btn-danger" ui-sref="menu"><i class="fa fa-chevron-left"></i> Menu</button>
</section>
<!--/. Intro image -->

<main>
    <div class="container animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="border-bottom" translate="">Help</h5>
                <p class="paragraph" translate="">Merci de télécharger une police libre de Typodermic Fonts Inc. Cette police est gratuit pour un usage commercial. Lisez le contrat de licence ci-joint pour plus de détails</p>
            </div>
        </div>
    </div>
</main>