<!-- Intro image -->
<section class="full-bg-img" id="menu">
    <div class="footer-copyright text-center navbar-fixed-top">
        <div class="container-fluid animated fadeInDown">
            <div class="row">
                <h5 style="color: white" ui-sref="home">Speedy Click</h5>
                <hr class="divider-short">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="verticalcenter">
            <!-- First row : Stat & rank-->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 mask waves-effect animated fadeInLeft" ui-sref="stats">
                    <!--Image Card-->
                    <div class="card hoverable">
                        <div class="card-image">
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="img/reg%20(2).jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <h5>Stats</h5>
                        </div>
                    </div>
                    <!--Image Card-->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 mask waves-effect animated fadeInRight" ui-sref="rank">
                    <!--Image Card-->
                    <div class="card hoverable">
                        <div class="card-image">
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="img/reg%20(2).jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <h5>Rank</h5>
                        </div>
                    </div>
                    <!--Image Card-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 mask waves-effect animated fadeInLeft " ui-sref="help">
                    <!--Image Card-->
                    <div class="card hoverable">
                        <div class="card-image">
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="img/reg%20(2).jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <h5>Help</h5>
                        </div>
                    </div>
                    <!--Image Card-->
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 mask waves-effect animated fadeInRight" ui-sref="option">
                    <!--Image Card-->
                    <div class="card hoverable">
                        <div class="card-image">
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="img/reg%20(2).jpg" class="img-responsive" alt="">
                            </div>
                        </div>
                        <div class="card-content">
                            <h5>Options</h5>
                        </div>
                    </div>
                    <!--Image Card-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/. Intro image -->
