<nav class="navbar navbar-fixed-top danger-color-dark" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header verticalcenter" style="padding: 10px 0px; color: white">
            <div class="row-fluid text-center">
                <div class="col-xs-3">
                    <span class="time">00:14</span>
                </div>
                <div class="col-xs-7">
                    <span class="score">{{score}}</span>
                </div>
                <div class="col-xs-2">
                    <span><i class="fa fa-pause"></i></pull-right></span>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- Intro image -->
<section class="full-bg-img">
    <div id="jeu" ng-click="Click()">

    </div>
</section>