<!-- Intro image -->
<section class="half-bg-img" id="menu">
    <button class="btn btn-danger" ui-sref="home"><i class="fa fa-chevron-left"></i> Menu</button>
</section>
<!--/. Intro image -->

<main>
    <div class="container animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="border-bottom" translate="">Stats</h5>
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Zephyr</td>
                        <td>5 hits</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>