<ion-view view-title="Help">
  <ion-content scroll="false">
    <!-- Intro image -->
    <div class="hero slide-up" style="">
      <div class="content">
        <!--<div class="avatar"><i class="icon ion-help"></i></div>-->
        <h5 class="title-game" style="color: #fff;" translate="">Help</h5>
        <hr class="divider-short">
      </div>
    </div>
    <!--/. Intro image -->
    <div class="list card">
      <div class="card-scroll">
        <div class="item text-center">
          <h2 translate="">How to play</h2>
        </div>

        <div class="item item-body">
          <h3 style="color:#cc0000" translate="">Description</h3>
          <p translate="">
            Click as fast as possible, and  becomes the world's fastest clicker
          </p>
        </div>
        <div class="item item-body">
          <h3 style="color:#cc0000" translate="">Classic Mode</h3>
          <p translate="">
            This mode is a race against the clock click the more times before the end of the countdown.
          </p>
        </div>

        <div class="item item-body">
          <h3 style="color:#cc0000" translate="">Zen Mode</h3>
          <p translate="">
            Free, no countdown, clicker as far as you can and watch your world ranking.
            Your ranking is based on the number of clicks also on the speed ( number of clicks on the time taken to achieve them )
          </p>
        </div>
      </div>
      <p class="text-center ">
        <button class="button" style="background: #cc0000; color: white;" ui-sref="home" translate="">
          Back
        </button>
      </p>

    </div>
  </ion-content>
</ion-view>
