<ion-view view-title="Help">
  <ion-content>
    <!-- Intro image -->
    <div class="hero slide-up" style="">
      <div class="content">
        <div class="avatar"><i class="icon ion-help"></i></div>
        <h3><a class="light">Help</a></h3>
      </div>
    </div>
    <!--/. Intro image -->
    <div class="list card">
      <div class="item item-avatar">
        <h2>How to play</h2>
      </div>

      <div class="item item-body">
        <h3 style="color:#cc0000">Classic Mode</h3>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>

      <div class="item item-body">
        <h3 style="color:#cc0000">Zen Mode</h3>
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
      </div>
      <p class="text-center padding-top">
        <button class="button" style="background: #cc0000; color: white;" ui-sref="home">
          Back
        </button>
      </p>

    </div>
  </ion-content>
</ion-view>
