<ion-view view-title="Home">
  <ion-content scroll="false">

    <!-- Boutons de jeu -->
    <section class="full-bg-img" id="home">
      <div class="text-center">
        <h5 class="title-game" style="color: #fff;"><span>S</span>peedy <span>C</span>lick</h5>
        <hr class="divider-short">
      </div>
      <!--<p style="color: white; text-align: center"> {{player.username}}</p>-->

      <div class="container animated pulse" id="container">
        <div class="verticalcenter" style="top:0%;">
          <!-- First row : Stat & rank-->
          <div class="row templatemorow">
            <div class="hex col-sm-6" style="text-align: center">
              <div>
                <div class="hexagon hexagon2 gallery-item animated">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2 ">
                      <div class="overlay" ui-sref="stats">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-trophy"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ng-click="showMultiPopup()">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-person-stalker"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6  templatemo-hex-top2">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ng-click="popupGameMode()">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-play"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6  templatemo-hex-top3">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ui-sref="help">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-help"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hex col-sm-6 templatemo-hex-top3">
              <div>
                <div class="hexagon hexagon2 gallery-item">
                  <div class="hexagon-in1">
                    <div class="hexagon-in2">
                      <div class="overlay" ui-sref="option">
                        <a class="btn-floating btn-large">
                          <i class="icon ion-gear-b"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
