<section class="full-bg-img">
    <div class="container">
        <div class="verticalcenter text-center" style="top:40%">
            <div class="animated fadeInDown white-text">
                <h4>Speedy Click</h4>
                <hr class="divider-short">
                <h5 translate="">Who will be the speed master</h5>
                <a class="btn btn-danger" ui-sref="play">Play</a>
                <br/>
                <a ui-sref="menu" class="btn btn-danger">Menu</a>
            </div>
        </div>
    </div>
</section>