<ion-view view-title="Logo">
  <ion-content style="background-color: black;">
    <style type="text/css">

    </style>
    <!-- Boutons de jeu -->
    <section class="full-bg-img" id="home" style="background: transparent">
      <div class="text-center">
        <h5 class="title-game" style="color: #fff;margin-top: 84px"><span>S</span>peedy <span>C</span>lick</h5>
        <hr class="divider-short">
      </div>

      <div class="container animated zoomIn" id="container">
        <p style="color: white;
margin: 129px 20px 0px;
background: black none repeat scroll 0% 0%;
padding: 0px 10px;
text-align: center;">
          <span ng-if="user.state==true">Hi, <span style="color: #cc0000;">{{user.name}}</span></span>
          <br ng-if="user.state==true"/>
          <span ng-if="user.state==false">Who w</span>
          <span ng-if="user.state==true">W</span>ill <span ng-if="user.state==true">you</span> be the
          <span style="color: #cc0000">speed master</span><span ng-if="user.state==true"> today ?</span>

          <form action="" class="list">
            <input type="text" placeholder="Username"/>
          </form>
        </p>

      </div>
    </section>
  </ion-content>
</ion-view>
