<ion-view>
  <ion-content style="background: url('img/bg.jpg'); background-size: cover">
    <style type="text/css">

    </style>
    <!-- Boutons de jeu -->
    <section class="full-bg-img" id="home" style="background: transparent">
      <div class="text-center">
        <h5 class="title-game" style="color: #fff;margin-top: 84px"><span>S</span>peedy <span>C</span>lick</h5>
        <hr class="divider-short">
      </div>

      <div class="container animated zoomIn" id="container">
        <p style="color: white;
margin: 129px 20px;
background: black none repeat scroll 0% 0%;
padding: 0px 10px;
text-align: center;">Who will be the
          <span style="color: #cc0000">speed master</span>
        </p>

      </div>
    </section>
  </ion-content>
</ion-view>
