<ion-view>
  <ion-content>
    <div id="play-zone1" class="play-zone" ng-click="Click1()"></div>
    <div class="block">
      <div class="bar bar-headers bar-sc">
        <button class="button btn-gold-text rotate">{{hit1}}</button>
        <h1 class="title text-center">{{time}} &nbsp; <i class="icon ion-pause" ng-click="popupGameEnd()"></i></h1>
        <button class="button btn-gold-text">{{hit2}}</button>
      </div>
    </div>
    <div id="play-zone2" class="play-zone" ng-click="Click2()"></div>
  </ion-content>
</ion-view>
