<ion-view>
  <ion-header-bar class="bar-sc">
    <button class="button button-clear btn-gold-text">{{time}}</button>
    <h1 class="title">{{score}}</h1>
    <button class="button btn-gold-text" ng-click="popupGamePause()"><i class="icon ion-pause"></i></button>
  </ion-header-bar>
  <ion-content id="jeu" ng-click="Click($event)">
    <div class="bar bar-subheader" style="top: 0; background: #c4a429;border-color: #c4a429; height: 36px;">
      <h2 class="title" style="line-height: 32px; height: 35px">
        <div style="float: left">
          Rang : <span>{{rang}}</span>
        </div>
        <progress id="progressbar" max="100" value="{{ progressValue }}"> </progress>
      </h2>
    </div>
    <div class="bonus" id="bonus1">
      <i class="fa fa-star fa-2x"></i>
    </div>
  </ion-content>
</ion-view>
<!-- Intro image -->
