<ion-view>
  <ion-header-bar class="bar-sc">
    <button class="button btn-gold-text"></button>
    <h1 class="title">{{score}}</h1>
    <button class="button btn-gold-text" ng-click="popupGamePause()"><i class="icon ion-pause"></i></button>
  </ion-header-bar>
  <ion-content id="jeu" ng-click="Click($event)">
    <div class="bar bar-subheader" style="top: 0; background: #B69E40;border-color: #B69E40; height: 36px;">
      <h2 class="title" style="line-height: 32px; height: 35px">
        Rang : <span>{{rang}}</span> / <span>{{total}}</span> <i class="fa fa-user"></i>
      </h2>
    </div>
    <div class="bonus" id="bonus1">
      <i class="fa fa-star fa-2x"></i>
    </div>
  </ion-content>
</ion-view>
<!-- Intro image -->
