
<ion-view view-title="Zen Statistic">
  <ion-content>
    <!-- Intro image -->
    <div class="hero slide-up" >
      <div class="content">
        <!--<div class="avatar"><i class="icon ion-trophy"></i></div>-->
        <h5 class="title-game" style="color: #fff;"><span>S</span>core</h5>
        <hr class="divider-short">
      </div>
    </div>
    <!--/. Intro image -->
   <div class="card">
     <div class="list">
       <div class="row ligne">
         <div class="col col-50">
           <span class="option">{{ filtre.type}}</span>
           <label class="toggle ">
             <input type="checkbox" ng-model="filtre.flag_type">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
         </div>
         <div class="col col-50">
           <span class="option">{{filtre.area}}</span>
           <label class="toggle ">
             <input type="checkbox" ng-model="filtre.flag_area" >{{flag_area}}
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
         </div>
       </div>

       <div ng-if="filtre.flag_area" class="animate-if">
         <span class="col">Your personnal records</span>
         <div  class="item row " style="padding: 8px;" >
           <span class="col">Rank</span>
           <span class="col">Speed</span>
           <span class="col">Click</span>
        </span>
         </div>
         <div  class="item row " style="padding: 8px;" ng-repeat="s in scores| orderBy:'-click' | filter:{type:filtre.type}">
           <span class="col">
             {{$index+1}}
           </span>
        <span class="col">
          {{s.speed}}
        </span><span class="col score">
          {{s.click}}
        </span>
         </div>


       </div>
       <div ng-if="!filtre.flag_area" class="animate-if">
         <span class="col">Words Ranking</span>
         <div  class="item row " style="padding: 8px;" >
           <span class="col">Rank</span>
           <span class="col">Name</span>
           <!--<span class="col">Country</span>-->
           <span class="col">Click</span>
           <span class="col">Speed</span>
        </span>
         </div>
         <div  class="item row " style="padding: 8px;" ng-repeat="r in ranks |orderBy:'-click' | filter:{type:filtre.type}">
           <span class="col">
             {{r.rank | ordinal}}
           </span>
          <span class="col score">
            {{r.username}}
          </span>
         <!--<span class="col score">-->
            <!--{{r.country}}-->
          <!--</span>-->
            <span class="col score ">
            {{r.click}}
          </span>
           <span class="col score ">
            {{r.speed}}
          </span>

         </div>


       </div>

       <p class="text-center padding-top">
         <button class="button" style="background: #cc0000; color: white;" ui-sref="home">
           Back
         </button>
       </p>

     </div>
   </div>
  </ion-content>
</ion-view>
