
<ion-view view-title="Statistic">
  <ion-content scroll="false">
    <style type="text/css">
      .animate-if span{
        font-size: 10px !important;
      }
    </style>
    <!-- Intro image -->
    <div class="hero slide-up" >
      <div class="content">
        <!--<div class="avatar"><i class="icon ion-trophy"></i></div>-->
        <h5 class="title-game" style="color: #fff;" translate="">Score</h5>
        <hr class="divider-short">
      </div>
    </div>
    <!--/. Intro image -->
   <div class="card">
     <div class="list">
       <div class="row ligne">
         <div class="col col-50">
           <span class="option">{{ filtre.type}}</span>
           <label class="toggle ">
             <input type="checkbox" ng-model="filtre.flag_type">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
         </div>
         <div class="col col-50">
           <span class="option">{{filtre.area}}</span>
           <label class="toggle ">
             <input type="checkbox" ng-model="filtre.flag_area" >{{flag_area}}
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
         </div>
       </div>

       <div class="card-scroll">
         <div ng-if="filtre.flag_area" class="animate-if">
           <span class="col" translate="">Your personnal records</span>
           <div  class="item row " style="padding: 8px;" >
             <span class="col" translate="">Rank</span>
             <span class="col" translate="">Speed</span>
             <span class="col" translate="">Hits</span>
             </span>
           </div>
           <div  class="item row " style="padding: 2px;" ng-repeat="s in scores| orderBy:'-click' | filter:{type:filtre.type}"ng-class="{'ten-first':$index<10,'first':$index==0}">
             <span class="col">
               {{($index+1) | ordinal}}
             </span>
            <span class="col">
              {{s.speed}}
            </span><span class="col">
              {{s.click}}
            </span>
           </div>


       </div>
       <div ng-if="!filtre.flag_area" class="animate-if">
         <span class="col" translate="">World Ranking</span>
         <div  class="item row " style="padding: 8px;" >
           <span class="col" translate="">Rank</span>
           <span class="col" translate="">Name</span>
           <!--<span class="col">Country</span>-->
           <span class="col" ng-click="frank_order('click')"><span translate="">Hits</span> <i ng-if="filtre.rank_order=='speed'" class="icon red ion-arrow-graph-up-right"></i></span>
           <span class="col" ng-click="frank_order('speed')"><span translate="">Speed</span> <i ng-if="filtre.rank_order=='click'" class="icon red ion-arrow-graph-up-right"></i></span>
        </span>
         </div>
         <!--<div  class="item row statsrank " scroll-to style="padding: 2px;" ng-repeat="r in [] | range:100" ng-class="showActive($index)">-->
         <div  class="item row statsrank " scroll-to style="padding: 2px;" ng-repeat="r in ranks |orderBy:'-'+filtre.rank_order | filter:{type:filtre.type}" ng-class="showActive($index),{'ten-first':$index<10}" ng-class="">
           <span class="col">
             {{($index+1) | ordinal}}
           </span>
          <span class="col ">
            {{r.username}}
          </span>
             <!--<span class="col score">-->
             <!--{{r.country}}-->
             <!--</span>-->
            <span class="col  ">
            {{r.click}}
          </span>
           <span class="col  ">
            {{r.speed | arrondie:2}}
          </span>

           </div>


         </div>
       </div>

       <p class="text-center padding-top">
         <button class="button" style="background: #cc0000; color: white;" ng-click="refreshScore()" translate="">
           Refresh
         </button>
         <button class="button" style="background: #cc0000; color: white;" ui-sref="home" translate="">
           Back
         </button>
       </p>

     </div>
   </div>
  </ion-content>
</ion-view>
